@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #1C1C1C;
  --color-text: #F5F5F5;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2E2E2E;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
